<button type="button" class="bg-transparent border-0 p-0 m-0 cursor-pointer" title="Perbaiki penulisan dengan bantuan AI" id="<%= type %>" data-ai-prompt="<%= prompt %>">
  <%- include('icons/bsstars.ejs', {width: "16px", height: "16px"}) %>
  <span class="sr-only">Perbaiki penulisan dengan bantuan AI</span>
</button>