<header class="bg-sky-500 text-white border-b-4 border-sky-900/50">
  <nav class="container mx-auto px-4 py-7 flex items-center justify-between">
    <div class="brand">
      <span class="font-bold md:text-2xl lg:text-3xl"><%= APP_NAME %></span>
    </div>

    <!-- Placeholder donet aowkaoakw -->
    <button class="px-5 text-sm md:text-base py-2 bg-green-600 border-b-4 border-green-900/50">
      Adalah pokoknya
    </button>
  </nav>
</header>