<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Prerequisite stylesheets -->
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/sweetalert2.min.css">

  <!-- Prerequisite scripts -->
  <script src="/sweetalert2.js"></script>

  <%- include('../metadata', {APP_NAME, TITLE}) %>
</head>
<body class="">
  <%- include('../components/navbar.ejs', {APP_NAME}) %>
  <%- include('../' + VIEW) %>
  <%- include('../components/footer.ejs', {APP_NAME}) %>
</body>
</html>